.place__url-heading {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}